<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.traficsafetyculture">
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
<permission
  android:name="${applicationId}.permission.C2D_MESSAGE"
  android:protectionLevel="signature" />
<uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />


<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
    android:usesCleartextTraffic="true"
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:screenOrientation="portrait"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="true"
      android:forceDarkAllowed="false"
      android:theme="@style/AppTheme">
       <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" android:exported="true"/>
  <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver" android:exported="true">
    <intent-filter>
      <action android:name="android.intent.action.BOOT_COMPLETED" />
    </intent-filter>
  </receiver>

  <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationRegistrationService"/>
  <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService" android:exported="false" />
  <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationOpenReceiver" />
      <activity
      android:screenOrientation="portrait"
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">


        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
             <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->

        </intent-filter>
        <intent-filter>
    <action android:name="android.intent.action.VIEW" />
          <data android:host="oauth"
          android:scheme="kakao2b81cd2da76e90718df0da6077b19126" />
    <category android:name="android.intent.category.DEFAULT" />
    <category android:name="android.intent.category.BROWSABLE" />
    <data android:scheme="myapp"
        android:host="callhost" />
</intent-filter>
      
      </activity>
    </application>
</manifest>
